<!doctype html>
<html itemscope itemtype="http://schema.org/Article">

<head>
    <meta charset="utf-8">
    <title>Italian recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/app.css">
    <!-- BEGIN Pre-requisites -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
    </script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
    </script>
    <!-- END Pre-requisites -->
    <script>
    function start() {
        gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
                client_id: '423265727322-qjbdk1ipn5usl97l6l250jp5vsda3n6u.apps.googleusercontent.com'
            });
        });
    }
    </script>
</head>

<body>
    <div id="wrap">
        <nav id="nav-container" class="app-top-bar" data-topbar role="navigation">
            <div class="nav-content">
                <div class="small-4 medium-6 columns">
                    <a href="/#" id="app-logo"><img src="/static/img/italianrecipes.png" alt="Italian recipes"> <span class="hide-for-small">Italian recipes</span></a>
                </div>
                <div class="small-8 medium-6 columns">
                    <div class="user-log-ctr hide">
                        <a href="/auth/login" class="right"><i class="fi-torso"></i> Login</a>
                    </div>
                </div>
            </div>
        </nav>
        <main id="container">
            <div class="row">
                <div class="small-12 columns">
                    <h1 class="page-title">Login</h1>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <button id="signinButton">Sign in with Google <i class="fi-social-google-plus"></i></button>
                    <script>
                    $('#signinButton').click(function() {
                        // signInCallback defined in step 6.
                        auth2.grantOfflineAccess({
                            'redirect_uri': 'postmessage'
                        }).then(signInCallback);
                    });
                    </script>
                    <div id="result"></div>
                    <script>
                    function signInCallback(authResult) {

                        var italianRecipesToken = '{{ state }}';

                        if (authResult['code']) {

                            // Hide the sign-in button now that the user is authorized, for example:
                            $('#signinButton').attr('style', 'display: none');

                            // Send the code to the server
                            $.ajax({
                                type: 'POST',
                                beforeSend: function(request) {
                                    request.setRequestHeader('italian-recipes-token', italianRecipesToken);
                                },
                                url: '/auth/gconnect',
                                contentType: 'application/octet-stream; charset=utf-8',
                                success: function(xhr) {
                                    // Handle or verify the server response.
                                    var msg = xhr.error || xhr.success;

                                    $('#result').html(msg[0] + ': ' + xhr.data.name + '</br>Redirecting...');

                                    setTimeout(function() {
                                        window.location.href = "/";
                                    }, 3000)
                                },
                                error: function(xhr) {
                                    var msg = xhr.error || xhr.success;
                                    $('#result').html(msg[0]);
                                },
                                processData: false,
                                data: authResult['code']
                            });
                        } else {
                            // There was an error.
                            $('#result').html('<div class="alert"> NO ONE TIME CODE WAS RECEIVED FROM GOOGLE</div>');
                        }
                    }
                    </script>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <script>
                    // This is called with the results from from FB.getLoginStatus().
                    function statusChangeCallback(response) {
                        console.log('statusChangeCallback');
                        console.log(response);
                        // The response object is returned with a status field that lets the
                        // app know the current login status of the person.
                        // Full docs on the response object can be found in the documentation
                        // for FB.getLoginStatus().
                        if (response.status === 'connected') {
                            // Logged into your app and Facebook.
                            testAPI();
                        } else if (response.status === 'not_authorized') {
                            // The person is logged into Facebook, but not your app.
                            document.getElementById('status').innerHTML = 'Please log ' +
                                'into this app.';
                        } else {
                            // The person is not logged into Facebook, so we're not sure if
                            // they are logged into this app or not.
                            document.getElementById('status').innerHTML = 'Please log ' +
                                'into Facebook.';
                        }
                    }

                    // This function is called when someone finishes with the Login
                    // Button.  See the onlogin handler attached to it in the sample
                    // code below.
                    function checkLoginState() {
                        FB.getLoginStatus(function(response) {
                            statusChangeCallback(response);
                        });
                    }

                    window.fbAsyncInit = function() {
                        FB.init({
                            appId: '425324390988748',
                            cookie: true, // enable cookies to allow the server to access 
                            // the session
                            xfbml: true, // parse social plugins on this page
                            version: 'v2.2' // use version 2.2
                        });

                        // Now that we've initialized the JavaScript SDK, we call 
                        // FB.getLoginStatus().  This function gets the state of the
                        // person visiting this page and can return one of three states to
                        // the callback you provide.  They can be:
                        //
                        // 1. Logged into your app ('connected')
                        // 2. Logged into Facebook, but not your app ('not_authorized')
                        // 3. Not logged into Facebook and can't tell if they are logged into
                        //    your app or not.
                        //
                        // These three cases are handled in the callback function.

                        FB.getLoginStatus(function(response) {
                            statusChangeCallback(response);
                        });

                    };

                    // Load the SDK asynchronously
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "//connect.facebook.net/en_US/sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'facebook-jssdk'));

                    // Here we run a very simple test of the Graph API after login is
                    // successful.  See statusChangeCallback() for when this call is made.
                    function testAPI() {
                        var italianRecipesToken = '{{ state }}';
                        var access_token = FB.getAuthResponse()['accessToken'];
                        console.log(access_token);
                        console.log('Welcome!  Fetching your information.... ');
                        FB.api('/me', function(response) {
                            console.log('Successful login for: ' + response.name);
                            document.getElementById('status').innerHTML =
                                'Thanks for logging in, ' + response.name + '!';

                            // Send the code to the server
                            $.ajax({
                                type: 'POST',
                                beforeSend: function(request) {
                                    request.setRequestHeader('italian-recipes-token', italianRecipesToken);
                                },
                                url: '/auth/fbconnect',
                                data: access_token,
                                contentType: 'application/octet-stream; charset=utf-8',
                                processData: false,
                                success: function(xhr) {
                                    // Handle or verify the server response.
                                    var msg = xhr.error || xhr.success;

                                    $('#result').html(msg[0] + ': ' + xhr.data.name + '</br>Redirecting...');

                                    setTimeout(function() {
                                        window.location.href = "/";
                                    }, 3000)
                                },
                                error: function(xhr) {
                                    var msg = xhr.error || xhr.success;
                                    $('#result').html(msg[0]);
                                }
                            });    
                        });
                    }
                    </script>
                    <!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
                    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button>
                    <div id="status">
                    </div>
                </div>
            </div>
        </main>
        <div id="push"></div>
    </div>
    <footer id="app-footer" class="open-menu-hide">
        <div class="footer-content text-center">
            <span>Concept, code and design by <a href="http://iliketomatoes.com" target="_blank">Giancarlo Soverini</a> for Udacity.</span>
            <br>
            <span>Not for commercial use.</span>
            <ul class="social-link-list">
                <li><a href="https://github.com/iliketomatoes" target="_blank"><i class="fi-social-github"></i></a></li>
                <li><a href="https://twitter.com/GSoverini" target="_blank"><i class="fi-social-twitter"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
