<div class="user-header-info">
<div class="row">
	<div class="small-3 medium-2 columns">
		<img src="<%= user.get("picture") %>" alt="<%= user.get("name") %>" class="user-recipes-profile-pic">
	</div>
	<div class="small-9 medium-10 columns">
            <h3 class="user-recipes-name"><%= user.get("name") %>'s recipes</h3>
            <a href="/#" class="go-back-btn recipe-action-btn">&#10229; Go back</a>
            <% if(!!window.userId){ %>
            <div class="show-for-small user-recipes-btn-devider"></div>
	        <a href="#new_recipe" class="recipe-action-btn user-recipes-add-btn">+ Add a new recipe</a>
	    	<% } %>
	</div>
</div>
</div>
