<div class="regions-menu-bg hide"></div>
<div id="regions-menu-container" class="hide" data-name="" data-id="" data-menu="closed">
    <div class="regions-menu-list-ctr">
        <button class="close-menu right circle-button ripple"> <i class="fi-x"></i></button>
        <h3 class="page-title">
            <a href="/#" class="regions-menu-list-item" data-id="0">All the regions <span id="total-count" class="region-count" data-region-count="0"><%= totalCount %></span> <i class="fi-check hide"></i></a>
        </h3>
        <ul class="regions-menu-list">
            <% _.each(regions, function(region, index){ %>
            <% if(region){ %>
            <li>
                <a href="/#region/<%= region.get("id") %>" class="regions-menu-list-item" data-id="<%= region.get("id") %>">
                    <%= region.get("name") %> <span class="region-count" data-region-count="<%= region.get("id") %>"><%= region.get("count") %></span> <i class="fi-check right hide"></i>
                </a>
            </li>
            <%}%>
            <% }); %>
        </ul>
    </div>
</div>