<div class="regions-menu-bg hide"></div>
<div id="regions-menu-container" class="hide" data-name="<%= defaultRegion.name %>" data-id="<%= defaultRegion.id %>" data-menu="closed">
    <div class="regions-menu-list-ctr">
        <button class="close-menu right circle-button ripple"><i class="fi-x"></i></button>
        <h3 class="page-title<% if(defaultRegion.id === 0){ %> selected-region bold <%}%>">
            <a href="/#">All the regions<% if(defaultRegion.id === 0){ %> <i class="fi-check"></i><%}%></a>
        </h3>
        <ul class="regions-menu-list">
            <% _.each(regions, function(region, index){ %>
            <% if(region){ %>
            <li <% if(region === defaultRegion.name){ %> class="selected-region bold" <%}%>>
                <a href="/#region/<%= index %>">
                    <%= region %><% if(region === defaultRegion.name){ %> <i class="fi-check right"></i><%}%>
                </a>
            </li>
            <%}%>
            <% }); %>
        </ul>
    </div>
</div>
