<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Italian recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/app.css">
    <script data-main="/static/js/main" src="/static/js/libs/require/require.js"></script>
</head>

<body>
    <nav id="nav-container" class="top-bar" data-topbar role="navigation">
    </nav>
    <main id="container">
    </main>
    <footer class="open-menu-hide">
    </footer>
</body>

</html>
