<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>Italian recipes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/static/css/app.css">
    <script data-main="/static/js/main" src="/static/js/libs/require/require.js"></script>
</head>

<body>
    <nav id="nav-container" class="app-top-bar" data-topbar role="navigation">
        <div class="nav-content">
            <div class="small-4 medium-6 columns">
                <a href="/#" id="app-logo"><img src="/static/img/italianrecipes.png" alt="Italian recipes"> <span class="hide-for-small">Italian recipes</span></a>
            </div>
            <div class="small-8 medium-6 columns">
                <div class="user-log-ctr">
                    <a href="/auth/login" class="right"><i class="fi-torso"></i> Login</a>
                </div>
            </div>
        </div>
    </nav>
    <div id="wrap">
    <main id="container">
    </main>
    <div id="modal-menu-ctr">
    </div>
    <div id="flash-message-ctr">
    </div>
    <div id="push"></div>
    </div>
    <footer id="app-footer" class="open-menu-hide">
        <div class="footer-content text-center">
            <span>Concept, code and design by <a href="http://iliketomatoes.com" target="_blank">Giancarlo Soverini</a> for Udacity.</span>
            <br>
            <span>Not for commercial use.</span>
           <ul class="social-link-list">
              <li><a href="https://github.com/iliketomatoes" target="_blank"><i class="fi-social-github"></i></a></li>
              <li><a href="https://twitter.com/GSoverini" target="_blank"><i class="fi-social-twitter"></i></a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
