/*button, .button{
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
}*/

button, .button, input[type="submit"]{
	overflow: hidden;
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 2px;
    @include material-element();
    letter-spacing: 0.02rem;

    &:active, &:focus{
    	outline: none;
    }
}

.circle-button{
	overflow: hidden;
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 50%;
	padding: 0.8rem 0.9rem;
	line-height: 0;
	background-color: $anchor-font-color;
	color: $white;
    @include material-element();
    letter-spacing: 0.02rem;

    &:active, &:focus{
    	background-color: $anchor-font-color-hover;
    	color: $white !important;
    	outline: none;
    }
}

.ripple{
	overflow: hidden;
}

.ripple-effect{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #e2ecf0; /* Fallback */
    background-color: hsla(190, 30%, 94%, 1); 
	@include animation(rippleAnimation 1.5s forwards);
}

@include keyframes(rippleAnimation) {
  0% {  @include transform(scale(1)); opacity: 0.4; }
  100% {  @include transform(scale(100)); opacity: 0;}
}


#g-signin-button{
	display: inline-block;
	overflow: auto;
	margin-bottom: 1rem;
	padding: 8px 6px;
	background-color: #dd4b39;
	border-radius: 2px;
	color: $white;
	@include single-transition();

	svg{
		//display: block;
		fill: $white;
		vertical-align: bottom;
	}

	&:hover{
		background-color: #e74b37;
	}
}
