/*button, .button{
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2) inset;
}*/

button, .button, input[type="submit"]{
	overflow: hidden;
	transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 2px;
    @include material-element();

    &:active, &:focus{
    	outline: none;
    }
}

.ripple{
	overflow: hidden;
}

.ripple-effect{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #e2ecf0; /* Fallback */
    background-color: hsla(190, 30%, 94%, 1); 
	@include animation(rippleAnimation 1.5s forwards);
}

@include keyframes(rippleAnimation) {
  0% {  @include transform(scale(1)); opacity: 0.4; }
  100% {  @include transform(scale(100)); opacity: 0;}
}

