.recipe-list-container{
	margin: 0 auto;
	max-width: rem-calc(1500);
	padding: 0 -15px;
}

.recipe-list{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	width: 100%;
	list-style-type: none;
	margin: 0;
	overflow: auto;
}


.recipe-list-item{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
	float: left;
	width: 100%;
	@media #{$medium-up}{
	  width: 50%;
	}

	@media #{$xlarge-up}{
	  width: 33.3334%;
	}
}

.card-container{
	padding: 15px;
}

.card{
	background-color: $card-bg;
	color: $coffee-dark;
	border: 2px solid $border-color;

	@include material-element();
}

.card-region{
	border-top: 2px solid $border-color;
	padding: 6px 8px;
	color: $secondary-text;
}