<div class="row">
    <div class="small-12 columns">
        <section>
            <h2>New recipe</h2>
            <form id="new-recipe-form" class="col s12" method="post" action="#!">
                <div class="row">
                    <div class="small-12 columns">
                        <label for="name">Name</label>
                        <input id="name" name="name" type="text" class="validate">
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label for="description">Description</label>
                        <textarea id="description" name="description" class="materialize-textarea"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label for="difficulty">Difficulty <b>min. 1</b> - <b>max. 5</b></label>
                        <input type="range" id="difficulty" name="difficulty" min="1" max="5" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <label>Select a region</label>
                        <select name="region_id">
                            <% _.each(regions, function(region){ %>
                                <option value="<%= region.get('id') %>" <% if ( region.get( 'id')==1 ){ %> selected
                                    <% } %>>
                                        <%= region.get("name") %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <input type="submit" value="SAVE" class="button small">
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
