<div class="card-container">
    <div class="card">
        <div class="card-dropdown-container">
            <button href="#" data-dropdown="drop-<%= recipe.get("id") %>" aria-controls="drop-<%= recipe.get("id") %>" aria-expanded="false" class="button tiny secondary">&#8226;&#8226;&#8226;</button>
            <br>
            <ul id="drop-<%= recipe.get("id") %>" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li><a href="/#edit/<%= recipe.get("id") %>" data-id="<%= recipe.get("id") %>" class="card-edit-btn"><i class="fi-pencil"></i> Update recipe</a></li>
                <li><a href="/#picture/<%= recipe.get("id") %>" data-id="<%= recipe.get("id") %>" class="card-edit-pic-btn"><i class="fi-photo"></i> Change picture</a></li>
                <li><a href="#" data-id="<%= recipe.get("id") %>" class="card-delete-btn"><i class="fi-x-circle"></i> Delete</a></li>
            </ul>
        </div>
        <a href="/#recipe/<%= recipe.get("id") %>" class="card-header-link">
            <div class="card-header image-wrapper">
                <div class="dark-layer"></div>
                <% 
                    var image;
                    if(recipe.get("image_url") == "null" || recipe.get("image_url") == null){
                        image = "/static/img/italian_food.png";
                    }else{
                        image = "/static/uploads/" + recipe.get("image_url");
                    } %>
        <img src="<%= image %>" alt="<%= recipe.get("name") %>">
        <div class="card-title"><%= recipe.get("name") %></div>
        </div>
    </a>
    <div class="card-info">
        <div class="card-subinfo">
            <small>Difficulty:</small>
            <br>
            <span><% for(var i = 0; i < recipe.get("difficulty"); i++){ %><i class="fi-star"></i><% } %></span>
        </div>
        <div class="card-subinfo">
            <small>Prep time:</small>
            <br>
            <span><i class="fi-clock"></i> <%= recipe.get("duration") %> minutes</span>
        </div>
    </div>
    <div class="card-region">
        Region: <a href="/#region/<%= recipe.get("region_id") %>"><%= regions[recipe.get("region_id")] %></a>
    </div>
    </div>
</div>
