<div class="submenu-container">
    <div class="<% if(!!window.userId){ %>submenu-half<% }else{ %>submenu<% } %>">
        <span class="bold"><%= defaultRegion.name %> <i class="fi-check"></i></span>
        <a href="#!" id="region-select" class="right bold region-menu" data-id="<%= defaultRegion.id %>"><i class="fi-widget"></i> Select a region</a>
    </div>
    <% if(!!window.userId){ %>
    <div class="submenu-half">
        <a href="#new_recipe" class="right bold"><i class="fi-plus"></i> Add a new recipe</a>
    </div>
    <% } %>
</div>
<div class="recipe-list-container open-menu-hide">
    <ul class="recipe-list">
    </ul>
</div>
<!-- Reveal Modals begin -->
<div id="confirm-deletion" class="reveal-modal" data-reveal aria-labelledby="Confirm recipe deletion" aria-hidden="true" role="dialog">
  <h2 id="confirm-deletion-name"></h2>
  <p>Are you sure you want to delete this recipe?</p>
  <a href="/#" class="confirm-deletion-confirm button">Yes, I'm sure</a>
  <a href="/#" class="confirm-deletion-abort button secondary right">No, just kidding</a>
  <!--<p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p>-->
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>