<div class="submenu-container">
    <div class="submenu-half">
        <span class="bold">All the regions</span>
        <a href="#!" class="right bold">Select a region <i class="fi-widget"></i></a>
    </div>
    <div class="submenu-half">
        <a href="#new_recipe" class="right bold">Add a new recipe <i class="fi-plus"></i></a>
    </div>
</div>
<div class="recipe-list-container">
    <ul class="recipe-list">
        <% _.each(recipes, function(recipe){ %>
            <li class="recipe-list-item">
                <div class="card-container">
                    <div class="card">
                    <h3><%= recipe.get("name") %></h3>
                    <div class="card-info">
                        <a href="#!<%= recipe.get("id") %>">read more</a>
                        <a href="#!<%= recipe.get("id") %>">edit</a>
                        <a href="#!<%= recipe.get("id") %>">delete</a>
                    </div>
                    <div class="card-region">
                        Region: <%= regions[recipe.get("region_id")] %>
                    </div>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
