<style>
body {
    background-color: #F9F9F9;
}
</style>
<div class="recipe-banner">
    <% 
        var image;
        if(recipe.get("image_url") == "null" || recipe.get("image_url") == null){
			 image = "/static/img/italian_food.png";
		}else{
            image = "/static/uploads/" + recipe.get("image_url");
        } %>
    <div class="recipe-img-container" style="background-image: url(<%= image %>)">
    </div>
</div>
<div class="recipe-container">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="recipe-title"><%= recipe.get("name") %></h2>
            <div class="row">
                <div class="small-12 medium-6 large-4 columns">
                	<small>Region:</small>
                    <br>
                    <a href="/#region/<%= recipe.get("region_id") %>" class="recipe-link">
                        <%= regions[recipe.get("region_id")] %>
                    </a>
                </div>
                <div class="small-6 medium-3 large-4 columns recipe-time">
                    <small>Prep time:</small>
                    <br>
                    <span><i class="fi-clock"></i> <%= recipe.get("duration") %> minutes</span>
                </div>
                <div class="small-6 medium-3 large-4 columns recipe-difficulty">
                    <small>Difficulty:</small>
                    <br>
                    <span><% for(var i = 0; i < recipe.get("difficulty"); i++){ %><i class="fi-star"></i><% } %></span>
                </div>
            </div>
            <p class="recipe-description">
                <%= recipe.get("description") %>
            </p>
        </div>
    </div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div class="recipe-footer-links">
			<a href="/#" class="go-back-btn">&#10229; Go back</a>
            <% if(window.userId == recipe.get("user_id")){ %>
            <div class="recipe-dropdown-container">
                <button href="#" data-dropdown="drop-<%= recipe.get("id") %>"aria-controls="drop-<%= recipe.get("id") %>" aria-expanded="false" class="button secondary small"><span class="meatballs">&#8226;&#8226;&#8226;</span> edit</button>
                <br>
                <ul id="drop-<%= recipe.get("id") %>" data-dropdown-content class="f-dropdown" aria-hidden="true">
                    <li><a href="/#edit/<%= recipe.get("id") %>" data-id="<%= recipe.get("id") %>" class="card-edit-btn"><i class="fi-pencil"></i> Update recipe</a></li>
                    <li><a href="/#picture/<%= recipe.get("id") %>" data-id="<%= recipe.get("id") %>" class="card-edit-pic-btn"><i class="fi-photo"></i> Change picture</a></li>
                    <li><a href="#" data-id="<%= recipe.get("id") %>" class="recipe-delete-btn"><i class="fi-x-circle"></i> Delete</a></li>
                </ul>
            </div>
            <% } %>
		</div>
	</div>
</div>
<!-- Reveal Modals begin -->
<div id="confirm-deletion" class="reveal-modal" data-reveal aria-labelledby="Confirm recipe deletion" aria-hidden="true" role="dialog">
  <h2 id="confirm-deletion-name"></h2>
  <p>Are you sure you want to delete this recipe?</p>
  <a href="/#" class="confirm-deletion-confirm button">Yes, I'm sure</a>
  <a href="/#" class="confirm-deletion-abort button secondary right">No, just kidding</a>
  <!--<p><a href="#" data-reveal-id="secondModal" class="secondary button">Second Modal...</a></p>-->
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
