<div class="submenu-container">
    <div class="submenu-half">
        <span class="bold"><%= defaultRegion.name %> <i class="fi-check"></i></span>
        <a href="#!" id="region-select" class="right bold region-menu" data-id="<%= defaultRegion.id %>"><i class="fi-widget"></i> Select a region</a>
    </div>
    <div class="submenu-half">
        <a href="#new_recipe" class="right bold"><i class="fi-plus"></i> Add a new recipe</a>
    </div>
</div>

<% if(recipes.length === 0){ %>       
<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">There are no items in this category.</h2>
    </div>
</div>
<% } %>

<div class="recipe-list-container open-menu-hide">
    <ul class="recipe-list">
        <% _.each(recipes, function(recipe){ %>
            <li class="recipe-list-item">
                <div class="card-container">
                    <div class="card">
                    <a href="/#!" class="card-header-link">
                        <div class="card-header image-wrapper">
                        <div class="dark-layer"></div>
                        <% if(recipe.get("image_url") == "null" || recipe.get("image_url") == null){
                            recipe.set("image_url", "/static/img/italian_food.png");
                            } %>
                        
                        <img src="<%= recipe.get("image_url") %>" alt="<%= recipe.get("name") %>">
                        <div class="card-title"><%= recipe.get("name") %></div>
                        </div>
                    </a>
                    <div class="card-info">
                        <!--<a href="#!<%= recipe.get("id") %>">read more</a>
                        <a href="#!<%= recipe.get("id") %>">edit</a>
                        <a href="#!<%= recipe.get("id") %>">delete</a>-->
                            <div class="card-subinfo">
                                <small>Prep time:</small>
                                <br>
                                <span><i class="fi-clock"></i> <%= recipe.get("duration") %> minutes</span>
                            </div>
                            <div class="card-subinfo">
                                <small>Difficulty:</small>
                                <br>
                                <span><% for(var i = 0; i < recipe.get("difficulty"); i++){ %><i class="fi-star"></i><% } %></span>
                            </div>
                    </div>
                    <div class="card-region">
                        Region: <a href="/#region/<%= recipe.get("region_id") %>"><%= regions[recipe.get("region_id")] %></a>
                    </div>
                    </div>
                </div>
            </li>
        <% }); %>
    </ul>
</div>
